---
import '../styles/global.css'
---

<div class="article">
    <div class="db-usr-profile"></div>
    <div class="sort" id="note"></div>
    <div class="sort" id="book"></div>
    <div class="sort" id="photo"></div>
    <div class="sort" id="movie"></div>
    <div class="sort" id="board"></div>
</div>