---
import '../styles/global.css'
---

<div class="sidebar">
    <div class="profile">
        <div class="avatar">
            <img class="avatar-jpg" src="https://i3.mjj.rip/2024/06/25/bad546ec32c4772fba2cea4212da0ab7.jpeg" alt="">
        </div>
    </div>
    <div class="podcasts"></div>
</div>
